extends ./layout.pug

block content
  datalist(id="dishesList")
    each dish in dishes
      option(cals=dish.cals fat=Number(dish.fat) carbs=Number(dish.carbs) protein=Number(dish.protein))=dish.name
  form(action="/" method="post")
    div(class="side-marg")
      table(id="meals" class="table table-sm")
        caption=date
        thead
          tr
            th(scope="col")
            th(scope="col") Meal
            th(scope="col") Cals
            th(scope="col") Fat
            th(scope="col") Carbs
            th(scope="col") Protein
        tbody(id="container")
          each meal in meals
            tr(_id=meal._id)
              th(scope="row" value=meal.time)=meal.time
              td(value=meal.name)=meal.name
              td(value=meal.cals)=meal.cals.toFixed(0)
              td(value=meal.fat)=Number(meal.fat).toFixed(1)
              td(value=meal.carbs)=Number(meal.carbs).toFixed(1)
              td(value=meal.protein)=Number(meal.protein).toFixed(1)
        tfoot
          tr(class="totals")
            th(scope="row") Totals
              td
              td(id="calsTotal") 0
              td(id="fatTotal") 0
              td(id="carbsTotal") 0
              td(id="proteinTotal") 0
          tr
            th(scope="row")
            td
            td
            td(class="percents footer-left" id="fatPercent") 0%
            td(class="percents" id="carbsPercent") 0%
            td(class="percents footer-right" id="proteinPercent") 0%
    div(class="btn-center")
      button(id="add-meal" class="btn btn-dark" type="button" onclick="addRow()") Add Meal
    br
    div(class="btn-center")
      button(class="btn btn-dark") Save Meals

block scripts
  script(src="./js/table.js")